<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rn-first-app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>44B48B7624625B2B650811692E7F2AF2C508CAB6</string>
				<key>dateExpires</key>
				<string>21/9/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UY688SHM4H.com.laymui.rn-first-app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UY688SHM4H</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>rn-first-app.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7f0713ff-c1f1-427f-a88f-12bffd346301</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UY688SHM4H</string>
				<key>name</key>
				<string>Singtel Idea Factory Pte Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
